Kartverket.MetadataEditor/Service References/no.geonorge.ws/SokKomData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="https://ws.geonorge.no/SKWS2/services/SokKomData" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="urn:komsok2.ws.statkart.no" xmlns:impl="https://ws.geonorge.no/SKWS2/services/SokKomData" targetNamespace="https://ws.geonorge.no/SKWS2/services/SokKomData" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:komsok2.ws.statkart.no">
      <xsd:import namespace="https://ws.geonorge.no/SKWS2/services/SokKomData" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="KommuneData">
        <xsd:sequence>
          <xsd:element name="boxAmax" type="xsd:double" />
          <xsd:element name="boxAmin" type="xsd:double" />
          <xsd:element name="boxNmax" type="xsd:double" />
          <xsd:element name="boxNmin" type="xsd:double" />
          <xsd:element name="gaust" type="xsd:double" />
          <xsd:element name="gnord" type="xsd:double" />
          <xsd:element name="kNavn" nillable="true" type="xsd:string" />
          <xsd:element name="kSenter" nillable="true" type="xsd:string" />
          <xsd:element name="kommNr" type="xsd:int" />
          <xsd:element name="senterA" type="xsd:double" />
          <xsd:element name="senterN" type="xsd:double" />
          <xsd:element name="ssbNr" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="KomSokRes">
        <xsd:sequence>
          <xsd:element name="errorMsg" nillable="true" type="xsd:string" />
          <xsd:element name="ok" type="xsd:boolean" />
          <xsd:element name="resultat" nillable="true" type="impl:ArrayOf_tns1_KommuneData" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://ws.geonorge.no/SKWS2/services/SokKomData">
      <xsd:import namespace="urn:komsok2.ws.statkart.no" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns1_KommuneData">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:KommuneData[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="kommuneSok1Request">
    <wsdl:part name="brukerid" type="xsd:string" />
    <wsdl:part name="passord" type="xsd:string" />
    <wsdl:part name="aliasId" type="xsd:string" />
    <wsdl:part name="kommNr" type="xsd:int" />
    <wsdl:part name="kommNavn" type="xsd:string" />
    <wsdl:part name="koordSysUt" type="xsd:int" />
    <wsdl:part name="koordSysInn" type="xsd:int" />
    <wsdl:part name="nordMin" type="xsd:double" />
    <wsdl:part name="austMin" type="xsd:double" />
    <wsdl:part name="nordMax" type="xsd:double" />
    <wsdl:part name="austMax" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="kommuneSok1Response">
    <wsdl:part name="kommuneSok1Return" type="tns1:KomSokRes" />
  </wsdl:message>
  <wsdl:portType name="SokKomData">
    <wsdl:operation name="kommuneSok1" parameterOrder="brukerid passord aliasId kommNr kommNavn koordSysUt koordSysInn nordMin austMin nordMax austMax">
      <wsdl:input name="kommuneSok1Request" message="impl:kommuneSok1Request" />
      <wsdl:output name="kommuneSok1Response" message="impl:kommuneSok1Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SokKomDataSoapBinding" type="impl:SokKomData">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="kommuneSok1">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="kommuneSok1Request">
        <wsdlsoap:body use="encoded" namespace="http://ws.ngiskomws.sk.hosledata.no" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="kommuneSok1Response">
        <wsdlsoap:body use="encoded" namespace="https://ws.geonorge.no/SKWS2/services/SokKomData" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SokKomDataService">
    <wsdl:port name="SokKomData" binding="impl:SokKomDataSoapBinding">
      <wsdlsoap:address location="https://ws.geonorge.no/SKWS2/services/SokKomData" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>